{% if video %}
  <div class="video">
    <div class="video__wrapper">
      {{ video | wistia_video: player_color: color, still_url: thumbnail, playerPreference: "html5" }}
    </div>
  </div>
{% else %}
  {% if thumbnail %}
    {% if link %}
      <a href="{{ blog_post.url }}"><img src="{{ thumbnail }}" class="img-fluid"/></a>
    {% else %}
      <img src="{{ thumbnail }}" class="img-fluid"/>
    {% endif %}
  {% endif %}
{% endif %}
